.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4A4A4A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appTitle {
  margin-top: 50px;
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ProfileContainer {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  gap: 10px;
}

.profileImage {
  width: 40px;
  height: 40px;
}

.homeContainer {
  display: flex;
  position: absolute;
  top: 60px;
  left: 10px;
  gap: 10px;
}

.homeImage {
  width: 40px;
  height: 40px;
}

.retryContainer {
  display: flex;
  position: absolute;
  top: 110px;
  left: 10px;
  gap: 10px;
}

.retryImage {
  width: 40px;
  height: 40px;
}

.userNameText {
  font-size: 16px;
  color: #F0F0F0;
  font-family: Inter;
}

.signUpSignInContainer {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  gap: 10px;
}

.signUpSignInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: black;
  background-color: #D9D9D9;
  font-family: Inter;
  font-size: 16px;
}

.legend {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  gap: 10px;
  color: #F0F0F0;
}

.legendImage {
  width: 40px;
  height: 40px;
}

.textBoxSpace {
  width: 600px;
  height: 350px;
  flex-shrink: 0;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  color: black;
  background-color: #F0F0F0;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.typedTextHomePage {
  color: rgba(0, 0, 0, 0.10);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17%;
}

.statsContainer {
  display: flex;
  gap: 50px;
  justify-content: center;
  font-size: 16px;
}

.statsImage{
  height: 40px;
  width: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
